{# Examples of accessing collections in Nunjucks templates #}

{# 1. Access the entire blog collection #}
{% if collections.blog %}
  <h3>All Blog Posts ({{ collections.blog.length }} total)</h3>
  <ul>
  {% for post in collections.blog %}
    <li>
      <a href="/{{ post.path }}">{{ post.card.title }}</a>
      - Date: {{ post.card.date }}
      - Permalink: {{ post.permalink }}
    </li>
  {% endfor %}
  </ul>
{% endif %}

{# 2. Access only the first 3 posts #}
{% for post in collections.blog | slice(0, 3) %}
  <article>
    <h4>{{ post.card.title }}</h4>
    <p>{{ post.card.excerpt }}</p>
  </article>
{% endfor %}

{# 3. Access previous/next navigation #}
{% if collections.blog[0].previous %}
  Previous: <a href="/{{ collections.blog[0].previous.path }}">
    {{ collections.blog[0].previous.card.title }}
  </a>
{% endif %}

{% if collections.blog[0].next %}
  Next: <a href="/{{ collections.blog[0].next.path }}">
    {{ collections.blog[0].next.card.title }}
  </a>
{% endif %}

{# 4. Loop through with index #}
{% for post in collections.blog %}
  <div>
    Post #{{ loop.index }}: {{ post.card.title }}
    {% if loop.first %}(First post){% endif %}
    {% if loop.last %}(Last post){% endif %}
  </div>
{% endfor %}

{# 5. Access other properties from card object #}
{% for post in collections.blog %}
  Title: {{ post.card.title }}
  Date: {{ post.card.date }}
  Excerpt: {{ post.card.excerpt }}
  Image: {{ post.card.image }}
  {# Add any other properties that exist in your card object #}
{% endfor %}