{% from "components/_partials/ctas/ctas.njk" import ctas %}
{% from "components/_partials/text/text.njk" import text %}

<div class="content">
  {% if section.text %}
    <div class="text flow">
      <div class="prose flow">{{ text(section.text)}}</div>
    </div>
  {% endif %}

  {% set mapData = data.maps[section.mapData] if section.mapData else section %}
  {% set mapLat = mapData.latitude %}
  {% set mapLng = mapData.longitude %}
  {% set mapZoom = mapData.zoom %}
  {% set mapMarkers = mapData.markers %}
  {% set mapClustering = mapData.clustering %}

  {% set mapStyle = "style=\"" + ("--map-default-height: " + section.height + ";" if section.height else "") + "\"" %}

  {% if section.mapProvider === "leaflet" %}
    <div class="js-leaflet-map map-wrapper" 
         data-provider="leaflet"
         data-latitude="{{ mapLat }}" 
         data-longitude="{{ mapLng }}" 
         data-zoom="{{ mapZoom }}"
         data-markers="{{ mapMarkers | dump | e }}"
         data-clustering="{{ mapClustering | dump | e }}"
         {{ mapStyle | safe }}>
      <div id="map-{{ section.id or 'leaflet-' + loop.index }}"></div>
    </div>
  {% else %}
    <div class="js-openlayers-map map-wrapper" 
         data-provider="openlayers"
         data-latitude="{{ mapLat }}" 
         data-longitude="{{ mapLng }}" 
         data-zoom="{{ mapZoom }}"
         data-markers="{{ mapMarkers | dump | e }}"
         data-clustering="{{ mapClustering | dump | e }}"
         {{ mapStyle | safe }}>
      <div id="map-{{ section.id or 'openlayers-' + loop.index }}"></div>
    </div>
  {% endif %}

  {% if section.ctas | hasCtas %}
    <div class="ctas-wrapper">
      {{ ctas(section.ctas) }}
    </div>
  {% endif %}
</div>