{% extends "pages/with-sidebar.njk" %}

{# NOTE: This file is excluded from Prettier formatting due to dynamic HTML tags #}
{# See .prettierignore and CONTRIBUTING.md for details #}

{% block body %}
  {% include "components/_partials/sections-renderer/sections-renderer.njk" %}
{% endblock %}