{# Call To Actions macro may render multiple button and/or text links #}
{% macro button(info) %}
  <a
    class="button {{ info.buttonStyle }}{% if info.isSmall %} small{% endif %}"
    href="{{info.url}}"
    {% if info.url | isExternal %}target="_blank" rel="noopener noreferrer" aria-label="{{ info.label }} (opens in new window)" {% endif %}
  >
    {{ info.label}}
  </a>   
{% endmacro %}